extends layout

block content
  h2 Limits
  p
    strong remaining
    |  #{limit_statuses_data['/statuses/user_timeline/:id'].remaining} / #{limit_statuses_data['/statuses/user_timeline/:id'].limit}
  p
    strong reset at
    |  #{((~~limit_statuses_data['/statuses/user_timeline/:id'].reset))}
  p
    strong last id
    |  #{last_id}

  h2 Statuses
  ul.img-list
    each status in statuses_data
      - if(status.entities.urls.length)
        each url in status.entities.urls
          - if (url.expanded_url.match(/twitpic.com/))
            - var splitted = url.expanded_url.split('/')
            li
              p
                img(src='//twitpic.com/show/iphone/' + splitted[splitted.length - 1])
          - else if (url.expanded_url.match(/yfrog.com/))
            li
              p
                img(src='#{url.expanded_url}:tw1')
          - else if (url.expanded_url.match(/instagr.am/))
            li
              p
                img(src='#{url.expanded_url}media/')
          //- - else if (url.expanded_url.match(/youtube.com/))
          //-   li
          //-     p= status.id
          //-     p= status.text
          //-     p= url.expanded_url
      - else if(status.entities.media)
        each media in status.entities.media
          li
            p
              img(src='#{media.media_url}')
  //- p
  //-   a(href='/user/#{statuses_data[0].id}') prev
  //-   &nbsp;
  //-   a(href='/user/#{last_id}') next